body {
    background-color: #040C34;
    padding-top: 8em;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
}
main {
    margin-top: 3em;
}
.title {
	color: #DC470B;
}
.link {
    color: #DC470B;
}
