.breadcrumb >.active {
   color: #DC470B;
}
.breadcrumb {
	background-color: #525874;
}
body {
	color: #040C34;
	font-family: 'Bebas Neue', cursive;
	background-color: #DFDFE2;
}
.logout {
	color: #DC470B;
}
.title {
	color: #DC470B;
}
.form-check-label {
	padding-top: calc(.5rem - 1px * 2);
	padding-bottom: calc(.5rem - 1px * 2);
	margin-bottom: 0;
}
.btn {
    background-color: #525874;
    color: #ffffff;
    border: none;
}
.btn:hover {
    background-color: #DC470B;
    color: #ffffff;
    border: none;
}
.btn:focus {
    outline:0;
}
.link {
	color: #798094;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.thumb {
  position: relative;
}

.text {
    color: black;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Gill Sans', sans-serif, font-weight: 100;
}

.text2 {
    color: black;
    font-size: 12px;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Gill Sans', sans-serif, font-weight: 100;
}

.thumb:hover .overlay {
  opacity: 1;
}

.thumb:hover img {
    opacity: 0.15;
    transition: all 0.5s;
}

.thumb:hover .text{
  opacity: 0.9;
}

/*  For table devices */
@media (min-width: 992px )
{

  .row img {
    width: 100%;
    margin-right: 0.5%;
    margin-left: 0.5%;
  }

}

/* For desktop devices  */
@media (min-width: 1200px )
{

  .row img {
    width: 100%;
    margin-right: 0.5%;
    margin-left: 0.5%;
  }
}

nav {
  background-color: #525874;
}